* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #daa520;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #000000;
}

header h1 {
    font-size: 2em;
}

/* Container principal */
.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 40px 20px;
}

/* Container dos produtos */
.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 31%;
    margin: 1% 0;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.product-image {
    height: 432px;
    width: 100%;
    max-width: 577px;
    margin: 0 auto 15px auto;
    border-radius: 8px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#img-1 {
    background-image: url('/img/img1.png');
}

#img-2 {
    background-image: url('/img/img2.png');
}

#img-3 {
    background-image: url('/img/img3.png');
}

#img-4 {
    background-image: url('/img/img4.png');
}

#img-5 {
    background-image: url('/img/img5.png');
}

#img-6 {
    background-image: url('/img/img6.png');
}

h3 {
    margin-bottom: 10px;
    color: #daa520;
    border-left: 5px solid #aa7a02;
    padding-left: 10px;
    font-size: 1.5em;
}

.card p {
    margin-bottom: 10px;
    color: #333;
}

.bold {
    font-weight: bold;
}

.bnt {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #aa7a02;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.bnt:hover {
    background-color: #644800;
}

/* Footer */
footer {
    background-color: #daa520;
    color: #fff;
    border-top: 3px solid #333;
    text-align: center;
    padding: 40px 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        max-width: 48%;
        margin: 1% 1%;
    }
}

@media (max-width: 600px) { /* Ajuste a largura conforme necessário */
    .card {
        max-width: 100%;
        margin: 2% 0;
    }
}

@media (max-width: 480px) {
    .card {
        max-width: 100%;
        margin: 2% 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    .container {
        padding: 20px 10px;
    }

    footer {
        padding: 40px 10px;
    }
}
